<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
    <link rel="stylesheet" href="/create.css">
</head>
<body>
    <div class="id">
        <form action="/profile_interface/li_profiles" method="POST">
            <h1>Create Profile</h1>
            <input type="text" name="name" placeholder="Username"  class="inp-name"><br><br>
            <input type="text" name="email" placeholder="Email" class="inp-email"><br><br>
            <textarea name="bio" placeholder="Input your bio here" class="inp-bio" required></textarea><br><br>
            <button type="submit" class="submit">Create Post</button>
        </form>
</body>
</html>