<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insta_profile</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <main>
    <div class="div1main">
        <div class="header">
            <h1>Insta_profile</h1>
            <h3>Welcome to the Insta_profile maker! Create your Instagram profile with ease.</h3>
            <div class="img">
                <img src="/insta_img.jpg" alt="">
            </div>
            <div class="herf">
                <a href="http://localhost:3000/profile_interface/create">Create Profile</a>
            </div>
            
            
    </div>
    
    </main>
</body>
</html>